*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: #FFF1F1; 
}
.logo {
  margin-right: 50%;
  width: 80px;
  height: 80px;
}
nav {
  width: 100%;
  margin: auto;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: flex-end;
  align-items: center;
  background-color: #FABEB5;
}
nav ul li {
  display: inline-block;
  margin: 50px;
  margin-left: 10px;
}
nav ul li a {
  text-decoration: none;
  font-family: 'Lilita One', cursive;
  font-weight: lighter;
  font-size: 20px;
  color: #533529;
  padding: 10px ;
}
nav ul li a:hover {
  color: #F2F5F8;
}
.container-home {
  display: flex;
}
.home-text {
  width: 100%;
}
.home-text h1 {
  color: #533529;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  padding-top: 18%;
  margin-left: 90px;
}
.home-text p {
  color: #533529;
  font-family: 'Atma', cursive;
  font-size: 30px;
  margin-left: 120px;
  margin-bottom: 40px;
}
.home-text a {
  background-color: #EACA81;
  padding: 15px 15px;
  margin: 50px 160px;
  margin-left: 100px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Lilita One', cursive;
  font-weight: lighter;
  color: #533529;
  border-radius: 7px;
}
.home-crepes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.home-crepes img {
 width: 70%;
}
.crepe-1 {
  margin-right: 50%;
}
.crepe-3 {
  margin-right: 50%;
}
.menu-row {
  padding-top: 7%;
  width: 100%;
  height: 90vh;
}
.menu-column h1 {
  text-align: center;
  color: #F8787D;
  font-family: 'Atma', cursive;
  font-weight: bolder;
  font-size: 100px;
  padding-bottom: 10px;
}
.menu-column h2 {
  text-align: center;
  color: #533529;
  font-family: 'Lilita One', cursive;
  font-weight: lighter;
  font-size: 20px;
  margin: 20px 0 20px 0;
  padding: 10px 0 10px 0;
  background-color: #EACA81;
}
.menu-data {
  height: 440px;
  display: flex;
  justify-content: space-evenly;
}
.crepes img {
  width: 270px;
  height: 270px;
  padding-top: 25px;
}
.crepes {
  background-color: #EACFB9;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 40px;
}
.crepes p {
  color: #533529;
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Lilita One', cursive;
}
.crepe-rolls img {
  width: 230px;
  height: 290px;
}
.crepe-rolls p {
  color: #533529;
  text-align: center;
  font-family: 'Lilita One', cursive;
  font-size: 18px;
}
